---
layout: default
title: Dan Dofter
type: blog
---
<ul>
{% for post in site.posts %}
  {% if post != site.posts.last %}
  <li class="post prepend-top append-bottom">
  {% else %}
  <li class="post prepend-top append-bottom last">
  {% endif %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="meta quiet">— {{ post.date | date_to_string }}</p>
    {{ post.content }}
    <a href="{{ post.url }}#disqus_thread">View Comments</a>
  </li>
{% endfor %}
</ul>

<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/dandofter/get_num_replies.js' + query + '"></' + 'script>');
  })();
//]]>
</script>
