html {
  -webkit-text-size-adjust:none;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif 
}
a {
  text-decoration:none;
  color:#125AA7;
}
a:hover {
  text-decoration:underline;
  color:#125AA7;
}
a:visited {
  color:#125AA7;
}
ol, ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
}
abbr, acronym {
  border-bottom:0 none;
}
.colborder-left {
  padding-left: 19px;
  margin-left: 20px;
  border-left: 1px solid #DDDDDD;
}

/* header */
#header {
  margin-bottom: 0.5em;
}
#header #masthead{
  border-bottom:3px double #DDDDDD;
}
#header h1 { 
  margin-bottom: .5em;
}
#header #masthead #title a {
  text-decoration:none;
  color: #000;
}
#header #masthead #navigation {
  float:right;
  font-weight: bold;
  padding-top:2.5em;
}
#header #masthead #navigation li {
  float:left;
}
#header #masthead #navigation li a {
  padding:.5em 1em;
}
#header #masthead #navigation li a:hover {
  background:#125AA7 none repeat scroll 0 0;
  color:#FFFFFF;
  text-decoration:none;
}
#header #masthead #navigation .selected a {
  color:#000;
  text-decoration:none;
}
#header #masthead #navigation .selected a:hover {
  background:#FFFFFF none repeat scroll 0 0;
  color:#000;
  text-decoration:none;
}

/* sidebar */

#sidebar {
  margin-top: 1em;
  margin-bottom: 1em;
}
#sidebar ul {
  margin-left:0;
  margin-right:0;
}
#sidebar h4 {
  margin-bottom:.5em;
  font-weight:bold;
}
#sidebar #cse-search-box {
  margin-bottom:1.5em;
}

/* footer */ 

#footer #footer-content {
  border-top:3px double #DDDDDD;
  padding-top:.5em;
  padding-bottom:1.5em;
  font-size:.9em;
  color:#666666;
}
#footer #footer-content ul, 
#footer #footer-content li {
  display:inline;
}
#footer #footer-content ul {
  float:right;
}
#footer #footer-content li:after {
  content:"·";
}
#footer #footer-content li:last-child:after {
  content:"";
}
#footer #footer-content a {
  color:#666666;
}
#footer #footer-content a:hover {
  color:#666666;
}
#footer #footer-content a:visited {
  color:#666666;
}

/* content */
#content {
  padding-top:.5em;
}

/* post */
li.post {
  border-bottom:1px solid #DDDDDD;
}
li.post.last {
  border-bottom:0 none;
}
.post {
  margin-top:1.5em;
  margin-bottom:1.5em;
}
.post h1 {
  font-size:2em;
}
.post h2 {
  font-size:1.5em;
}
.post .meta{
  font-weight:bold;
  color:#666666;
}

/* resume */

#resume h2 {
  font-size:1.5em;
  margin-bottom: 0.5em;
}
#resume .section{
  border-bottom:1px solid #DDDDDD;
  padding-top:1em;
  padding-bottom:1em;
}
#resume .pdf {
  padding:2px 4px 2px 22px;
  float:right;
  text-align:right;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../images/pdf.png);
  border:1px solid #DDDDDD;
  font-weight:bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-top:-.5em;
}
#resume .pdf:hover {
  text-decoration:none;
}

/* resume - contact */
#resume #contact {
  padding-top: 0;
}
#resume #contact h2 {
  margin-top: 0;
}
#resume #contact address{
  margin:0;
}
#resume #contact #dan-dofter {
  display:none;
}
#resume #contact .adr .type {
  display:none;
}
#resume #contact .country-name {
  display:none;
}
#resume #contact .internet{
  float:right;
  text-align:right;
}

/* resume - summary */
#resume #summary ul {
  list-style-type:disc;
  margin-left:1.5em;
}

/* resume - skills */
#resume #skills li ul, 
#resume #skills li li {
  display:inline;
  margin:0;
}
#resume #skills h3 {
  display:inline;
  font-size:1em;
  font-weight:bold;
}
#resume #skills h3:after {
  content:":";
}
#resume #skills li li:after {
  content:",";
}
#resume #skills li li:last-child:after {
  content:"";
}
#resume #skills div {
  float:right;
  width:395px;
  margin-top:-4.5em;
}

/* resume - experience */

#resume #experience h3 {
  font-size:1em;
  font-weight:bold;
  margin-bottom:0;
  line-height:1.5;
}
#resume .experience {
  margin-bottom:1.5em;
}
#resume #experience .title {
  font-style:italic;
}
#resume #experience .location, 
#resume #experience .dates {
  color:#666666;
  float:right;
  margin-top:-1.5em;
  text-align:right;
}
#resume #experience .description {
  margin-top:1em;
}
#resume #experience .freelance .org,
#resume #experience .freelance .location {
  display:none;
}
#resume #experience .freelance .title {
  font-weight:bold;
  font-style:normal;
}
#resume .experience .description p {
  margin: 1em 0 0 0;
}
#resume .experience .description ul {
  list-style-type:disc;
  margin-bottom:1em;
}

/* resume - education */

#resume #education h3 {
  font-size:1em;
  font-weight:bold;
  margin-bottom:0;
  line-height:1.5;
}
#resume #education li {
  margin:0;
}
#resume #education .title {
  font-style:italic;
}
#resume #education .location, 
#resume #education .dates {
  color:#666666;
  float:right;
  margin-top:-1.5em;
  text-align:right;
}
.education .description ul {
  margin-top:1em;
  list-style-type:disc;
}

/* resume - references */

#resume #references {
  border-bottom:0;
  text-align: center;
  font-style:italic;
}

/* search results */

#search-results-title {
  margin-bottom:.5em;
}
#cse-search-results {
  margin-top:.5em;
}

/* EOF */
