---
layout: shared
---
<div class='span-14 prepend-2' id='content'>
{{ content }}
</div>

<div class='prepend-bottom span-5 colborder-left append-2 last' id='sidebar'>
  <form action='http://dandofter.com/search.html' id='cse-search-box'>
    <div>
      <input name='cx' type='hidden' value='010590634667594085800:kpj_teficjm' />
      <input name='cof' type='hidden' value='FORID:9' />
      <input name='ie' type='hidden' value='UTF-8' />
      <input name='q' size='25' type='text' />
    </div>
  </form>

  <script src='http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en' type='text/javascript'></script>
  <h4>
    About
  </h4>
  <p>I'm an opinionated software developer with over 10 years of experience working on a variety of web applications.  I write about Ruby on Rails, the Open Web, and whatever else comes to mind.</p>
  <p>
    I'm currently available for contract work.  If you need some help with Ruby web development, feel free to&nbsp;<a href='/resume.html'>contact me</a>.
  </p>
  
  <h4>
    Links
  </h4>
  <ul>
    <li>
      <a href='http://github.com/archfear'>GitHub</a>
    </li>
    <li>
      <a href='http://www.linkedin.com/in/dandofter'>LinkedIn</a>
    </li>
    <li>
      <a href='http://delicious.com/archfear'>Delicious</a>
    </li>
    <li>
      <a href='http://www.last.fm/user/archfear'>Last.fm</a>
    </li>
    <li>
      <a href='http://sonicliving.com/user/1624'>SonicLiving</a>
    </li>
  </ul>
</div>